workflow.json
{
  "name": "Veille Automatique",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        -64
      ],
      "id": "da9ec973-61c9-49e3-8d53-4b14a690b60a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=intelligence+artificielle&language=fr&sortBy=publishedAt&apiKey=f23ad824c4df42869596acf0c0b0e42f",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        -64
      ],
      "id": "7ba1d770-57be-4126-907a-48f7b6adeb00",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -16,
        -64
      ],
      "id": "7c2d4471-3bdd-4d41-8cae-90818fa34673",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c591a12b-82ed-4865-923d-38dcc38f4b82",
              "leftValue": "={{ $json.title }}",
              "rightValue": "intelligence",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        -64
      ],
      "id": "cd747d88-56d7-4d3f-86b1-b276df11b6c2",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "5186657264",
        "text": "=📰 {{ $json.title }}  {{ $json.description }}  🔗 {{ $json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -160
      ],
      "id": "aff347ee-3eda-4b55-bbb8-4c7a841c7402",
      "name": "Send a text message",
      "webhookId": "6c6e021e-e241-4330-9c2d-d2e2252a6b53",
      "credentials": {
        "telegramApi": {
          "id": "ieP01E2ksZOfP9WZ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fc2d768d-8dcd-4081-9bfb-7ca40af9defe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8254975fa9435c6ac988d206ba09626b706a53488574c99dc5ebdf46dc0b7f0"
  },
  "id": "APcWxCrl9NLqcRv4",
  "tags": []
}